<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hkm.loyalns">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Used to load images from the gallery content provider. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TheMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".demos.ExampleClassic"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.BigScreenDemo"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.BigScreenDL"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.MultSections"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.NewsArticle"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.ZoomScreenSlider"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.SliderAdjust1"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.ZoomViewPager2"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.ZoomView_Three"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.ZoomView_Single"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.SliderAdjust2"
            android:theme="@style/Full" />
        <activity
            android:name=".demos.DelayInitalzation"
            android:theme="@style/Full" />
    </application>

</manifest>
